@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.bg-sky {
  --tw-bg-opacity: 1;
  background-color: rgb(219 228 247 / var(--tw-bg-opacity));
}

.bg-sky-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(68 103 254 / var(--tw-bg-opacity));
}
.bg-clay {
  --tw-bg-opacity: 1;
  background-color: rgb(245 213 215 / var(--tw-bg-opacity));
}

.bg-clay-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(242 85 93 / var(--tw-bg-opacity));
}
.bg-grass {
  --tw-bg-opacity: 1;
  background-color: rgb(201 238 211 / var(--tw-bg-opacity));
}

.bg-grass-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(85 211 121 / var(--tw-bg-opacity));
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
